body {
  width: 70%;
  margin: 0 auto !important;
  align-content: center;
}

.flexParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  margin: -10px;
}

.myForm {
  margin-top: 10vh;
}

.divFlex {
  height: 200px;
  width: 150px;
  margin: -210px 30px
}

img {

  width: 500px;
  padding: 25px;
  
}

section {
  text-align: center;
}

.first {
  background-color: antiquewhite;
 
}
 .second {
  background-color: antiquewhite;
 }

 .third {
  background-color: antiquewhite;
 }